body{
    background-color: grey;
}


.label{

    background-color: rgb(92, 132, 226);
    
}

.input{
     border-radius: 5px;
}

header{

    text-align: center;
    background-color: aquamarine;

}

form{
    margin-top: 50px;
    text-align: right;
    background-color: bisque;
    height: 500px;
    width: auto;
    
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;

}